* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-weight: 800;
}

header {
  width: 100%;
  background-color: #6ba36f;
  padding: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

header img {
  width: 10%;
  border-radius: 11vh;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

nav div a p {
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
}

nav div a {
  text-decoration: none;
}

#menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

div a {
  margin-left: 1vh;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.seccion {
  display: grid;
  grid-template-rows: auto auto 1.5fr;
  grid-template-areas:
   "h2"
   "img"
   "p";
   margin-bottom: 5%;
}

.seccion > img {
  grid-area: img;
}

.seccion > .titulos {
  grid-area: h2;
}

.seccion > .texto {
  grid-area: p;
}


article img {
  width: 100%;
  border-radius: 5vh;
  padding: 1vh;
  margin: 1vh auto 1vh;
}

.saludo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 5vh auto;
}

.bienvenida {
  width: 100%;
}

.titulo {
  margin-bottom: 5vh;
  text-align: center;
}

#contactanos {
  display: flex;
  align-items: end;
}
.titulos {
  display: flex;
  text-align: center;
  background-color: rgb(217 217 217);
  border-radius: 5vh;
  height: 80%;
  margin: 2vh 0;
}

.titulos h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.texto {
  background-color: rgb(174 174 174);
  border-radius: 5vh;
  padding: 2vh;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 5%;
}

footer {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icono {
  width: 5vh;
  margin: 2vh;
}

.redes {
  display: flex;
  align-items: center;
}

footer h3 {
  margin: 2vh;
}

article p {
  display: flex;
  text-align: center;
}

@media (min-width: 480px) {
.principal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.seccion {
  margin-left: 5%;
  margin-right: 5%;
}
}

@media (min-width: 768px) {
  .principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
  }
} 
